<header id="Header">
    <p>
        Una <span>visión</span> del diseño integral como lugar de convergencia natural para las disciplinas de la arquitectura, el diseño gráfico y multimedia, el branding o la producción de eventos.
    </p>
</header>
