#Footer {
    --width: 100%;
    --height: auto; //var(--header-height);
    --color: var(--black); //var(--secondary);
    --bg: transparent; //var(--primary);
    --padding-v: var(--padding-xxs);
    --padding-h: var(--padding-xs);
}

#Footer {
    @include font-sans();
    @include z-index($z-index-header);

    position: fixed;
    width: var(--width);
    height: var(--height);
    right: 0;
    bottom: 0;
    padding: var(--padding-v) var(--padding-h);
    border-bottom: var(--padding-xxs) solid var(--pink);

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--color);
    background-color: var(--bg);

    text-transform: uppercase;
    font-size: var(--font-size-footer);

    p:last-child {
        color: var(--white);
    }
}
