#Header {
    --width: 100%;
    --height: auto;
    --color: var(--black); //var(--secondary);
    --bg: transparent; //var(--primary);
    --padding-v: var(--padding-s);
    --padding-h: var(--padding-xs);
    --font-size: var(--font-size-base);
}

#Header {
    @include font-sans();
    @include z-index($z-index-header);

    position: fixed;
    width: var(--width);
    height: var(--height);
    right: 0;
    top: 0;
    padding:var(--padding-h);

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--color);
    background-color: var(--bg);

    font-size: var(--font-size-header);
    
    span {
        @include font-sans();
    }

    figure {
        width: var(--header-logo);
    }

    a {
        position: relative;
        display: block;
    }
    a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.07em;
        border-radius: var(--padding-s);
        background-color: var(--white);
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
    }

    a:hover {
        color: var(--white);
        transition: 300ms, color 300ms;
    }

    a:hover::after,
    a:focus::after {
        opacity: 1;
        transform: translate3d(0, 0.2em, 0);
    }

    /* Slide in */
    a {
        overflow: hidden;
    }
    
    a::after {
        opacity: 1;
        transform: translate3d(-100%, 0, 0);
    }
    
    a:hover::after,
    a:focus::after {
        transform: translate3d(0, 0, 0);
    }    
}

@media (max-width: $smartphone) {
    #Header {
        --padding-h: var(--padding-s);
        font-size: 1.25rem;

        figure {
            width: 40%;
        }
    }
}
