#Header {
    --width: 100%;
    --height: auto;
    --color: var(--black); //var(--secondary);
    --bg: transparent; //var(--primary);
    --padding-v: var(--padding-s);
    --padding-h: var(--padding-xs);
    --font-size: var(--font-size-base);
}

#Header {
    @include font-sans();
    @include z-index($z-index-header);

    position: fixed;
    width: var(--width);
    height: var(--height);
    right: 0;
    top: 0;
    padding:var(--padding-h);

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--color);
    background-color: var(--bg);

    font-size: var(--font-size-header);
    
    span {
        @include font-sans();
    }

    figure {
        width: var(--header-logo);
    }
}

@media (max-width: $smartphone) {
    #Header {
        --padding-h: var(--padding-s);
        font-size: 1.25rem;

        figure {
            width: 40%;
        }
    }
}
